<html>
  <table width='100%' border='0' cellspacing='0' cellpadding='0'>
    <tbody><tr><td align='justify'>

          <h1>Mentoring canceled</h1>

          <h3>Mentor:&nbsp;<span
              style='font-size: 14pt; font-weight: normal;'
            >{{mentorSlackId}}
            </span>
          </h3>

          <h3>RejectMessage:&nbsp;<span
              style='font-size: 14pt; font-weight: normal;'
            >{{rejectMessage}}
            </span>
          </h3>

          <h3>Web Page:&nbsp;<a
              href='https://intra.42.fr'
              rel='noreferrer noopener'
              style='font-size: 14pt;'
            >42POLAR</a></h3>
        </td></tr>
    </tbody>
  </table>
</html>