<html>
  <table width='100%' border='0' cellspacing='0' cellpadding='0'>
    <tbody><tr><td align='justify'>

          <h1>42POLAR 이메일 인증 요청</h1>

          <h3>
              <a href={{verifyURL}} target="_self" style="cursor: pointer; white-space: pre;">이메일 인증 링크</a>
          </h3>

          <h3>Web Page:&nbsp;<a
              href='https://intra.42.fr'
              rel='noreferrer noopener'
              style='font-size: 14pt;'
            >42POLAR</a></h3>
        </td></tr>
    </tbody>
  </table>
</html>
